# Credit to Andrew Craven for the original version of this file

on:
    push:
      branches:
      - "**"
    pull_request:
      branches:
      - "**"

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 15
        permissions:
          contents: read
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Build
          run: dotnet build --configuration Release
        - name: Test
          run: dotnet test --configuration Release --no-build
